In [1]:
import pandas as pd
import numpy as np

In [31]:
data = [
    ['x1',1,'a'],
    ['x1',2,'a'],
    ['x2',6,'b'],
    ['x1',3,'b'],
    ['x2',2,'c'],
    ['x2',3,'a']
]
columns = ['people','order','route']

df = pd.DataFrame(data=data,columns=columns)
df=df.sort_values(by=['people','order'],ascending=True)
df

  people  order route
0     x1      1     a
1     x1      2     a
3     x1      3     b
4     x2      2     c
5     x2      3     a
2     x2      6     b

In [32]:
res = pd.DataFrame({})
res['route'] = df.groupby(['people']).route.apply(set)
res['order'] = df.groupby(['people']).order.mean()
res

            route     order
people
x1         {a, b}  2.000000
x2      {a, c, b}  3.666667

In [ ]:
res = pd.DataFrame({})

res.index

In [21]:
res.loc['x1']

route    {a, b}
Name: x1, dtype: object

In [ ]:
df_out = df.set_index(['IndividualID','DayID',
                       df.groupby(['IndividualID','DayID']).cumcount()+1]).unstack().sort_index(level=1, axis=1)
df_out.columns = df_out.columns.map('{0[0]}_{0[1]}'.format)
df_out.reset_index()