In [1]:
import pickle
# import MySQLdb
import pymysql
import numpy as np
import random
import matplotlib.pyplot as plt
import datetime
import operator as op
import math
import random
import pandas as pd
import os

In [4]:
# 保存预处理之后的数据，pickle文件
def pickle_dump(data_to_pickle, filename, local_path):
    """ Function to write data to pickle format. """
    file = os.path.join(local_path, filename)
    pickle.dump(data_to_pickle, open(file, "wb+"))

# 读取预处理之后的数据，pickle文件
def pickle_load(filename, local_path):
    """ Function to load data to pickle format. """
    file = os.path.join(local_path, filename)
    with open(file, 'rb') as f:
        u = pickle._Unpickler(f)
        u.encoding = 'latin1'
        data = u.load()
    return data

In [14]:
file_path = 'D:\\jupyter files\\'
preprocess_path = file_path + 'preprocess_data_waiting_time_project'

In [15]:
# sorted(d.items(), key=lambda item:item[1])

In [16]:
timestamps_df = pickle_load('timestamps_df.p', preprocess_path)

In [17]:
def count_num(column_name):
    timestamps_df_grouped = timestamps_df.groupby(column_name)
    print('The number of %s:'%column_name, len(list(timestamps_df_grouped.groups)))

In [18]:
count_num('PatientSerNum')

The number of PatientSerNum: 8232

In [23]:
timestamps_df.columns

Index(['AppointmentSerNum', 'AliasSerNum', 'PatientSerNum',
       'ScheduledStartTime', 'ScheduledEndTime', 'ActualStartDate',
       'ActualEndDate', 'ResourceName', 'ResourceType',
       'PatientLocationMHSerNum', 'RevCount', 'ArrivalDateTime',
       'HstryDateTime', 'checkedInFlag', 'pltArrivalDateTime',
       'checkedInFlag'],
      dtype='object')

In [20]:
timestamps_df_grouped = timestamps_df.groupby('PatientSerNum')
timestamps_df_patient = timestamps_df_grouped.get_group(38996)

In [28]:
timestamp_columns = [
    'ScheduledStartTime', 'ScheduledEndTime',
    'ActualStartDate', 'ActualEndDate', 
    'ArrivalDateTime', 'HstryDateTime']

timestamps_df_patient.sort_values(by = timestamp_columns)
timestamps_df_patient[timestamp_columns]
timestamps_df_patient

,AppointmentSerNum,AliasSerNum,PatientSerNum,ScheduledStartTime,ScheduledEndTime,ActualStartDate,ActualEndDate,ResourceName,ResourceType,PatientLocationMHSerNum,RevCount,ArrivalDateTime,HstryDateTime,checkedInFlag,pltArrivalDateTime,checkedInFlag
0,849926,23,38996,2015-10-19 14:00:00,2015-10-19 14:15:00,2015-10-19 14:18:00,2015-10-19 14:34:00,TB_6,Machine,290348,0,2015-10-19 13:15:00,2015-10-19 13:15:00,1,2015-10-19 14:21:00,1
1,849926,23,38996,2015-10-19 14:00:00,2015-10-19 14:15:00,2015-10-19 14:18:00,2015-10-19 14:34:00,TB_6,Machine,290349,1,2015-10-19 13:15:00,2015-10-19 14:18:00,1,2015-10-19 14:21:00,1
2,849926,23,38996,2015-10-19 14:00:00,2015-10-19 14:15:00,2015-10-19 14:18:00,2015-10-19 14:34:00,TB_6,Machine,290350,2,2015-10-19 13:15:00,2015-10-19 14:18:00,1,2015-10-19 14:21:00,1
3,849926,23,38996,2015-10-19 14:00:00,2015-10-19 14:15:00,2015-10-19 14:18:00,2015-10-19 14:34:00,TB_6,Machine,290351,3,2015-10-19 14:21:00,2015-10-19 14:21:00,1,2015-10-19 14:21:00,1
4,849926,23,38996,2015-10-19 14:00:00,2015-10-19 14:15:00,2015-10-19 14:18:00,2015-10-19 14:34:00,TB_6,Machine,290352,4,2015-10-19 14:21:00,2015-10-19 14:34:00,1,2015-10-19 14:21:00,1
5,849926,23,38996,2015-10-19 14:00:00,2015-10-19 14:15:00,2015-10-19 14:18:00,2015-10-19 14:34:00,TB_6,Machine,290353,5,2015-10-19 14:21:00,2015-10-19 14:34:00,1,2015-10-19 14:21:00,1
6,849926,23,38996,2015-10-19 14:00:00,2015-10-19 14:15:00,2015-10-19 14:18:00,2015-10-19 14:34:00,TB_6,Machine,290354,6,2015-10-19 14:21:00,2015-10-19 14:34:00,1,2015-10-19 14:21:00,1
7,849926,23,38996,2015-10-19 14:00:00,2015-10-19 14:15:00,2015-10-19 14:18:00,2015-10-19 14:34:00,TB_6,Machine,290355,7,2015-10-19 14:21:00,2015-10-19 14:34:00,1,2015-10-19 14:21:00,1
8,849926,23,38996,2015-10-19 14:00:00,2015-10-19 14:15:00,2015-10-19 14:18:00,2015-10-19 14:34:00,TB_6,Machine,290356,8,2015-10-19 14:21:00,2015-10-19 14:34:00,1,2015-10-19 14:21:00,1
9,849926,23,38996,2015-10-19 14:00:00,2015-10-19 14:15:00,2015-10-19 14:18:00,2015-10-19 14:34:00,TB_6,Machine,290357,9,2015-10-19 14:21:00,2015-10-19 14:34:00,1,2015-10-19 14:21:00,1
10,849927,23,38996,2015-10-20 13:45:00,2015-10-20 14:00:00,2015-10-20 13:32:00,2015-10-20 13:48:00,TB_4,Machine,290358,0,2015-10-20 12:11:00,2015-10-20 12:11:00,1,2015-10-20 13:27:00,1
11,849927,23,38996,2015-10-20 13:45:00,2015-10-20 14:00:00,2015-10-20 13:32:00,2015-10-20 13:48:00,TB_4,Machine,290359,1,2015-10-20 13:27:00,2015-10-20 13:27:00,1,2015-10-20 13:27:00,1
12,849927,23,38996,2015-10-20 13:45:00,2015-10-20 14:00:00,2015-10-20 13:32:00,2015-10-20 13:48:00,TB_4,Machine,290360,2,2015-10-20 13:27:00,2015-10-20 13:32:00,1,2015-10-20 13:27:00,1
13,849927,23,38996,2015-10-20 13:45:00,2015-10-20 14:00:00,2015-10-20 13:32:00,2015-10-20 13:48:00,TB_4,Machine,290361,3,2015-10-20 13:27:00,2015-10-20 13:32:00,1,2015-10-20 13:27:00,1
14,849927,23,38996,2015-10-20 13:45:00,2015-10-20 14:00:00,2015-10-20 13:32:00,2015-10-20 13:48:00,TB_4,Machine,290362,4,2015-10-20 13:27:00,2015-10-20 13:48:00,1,2015-10-20 13:27:00,1
15,849927,23,38996,2015-10-20 13:45:00,2015-10-20 14:00:00,2015-10-20 13:32:00,2015-10-20 13:48:00,TB_4,Machine,290363,5,2015-10-20 13:27:00,2015-10-20 13:48:00,1,2015-10-20 13:27:00,1
16,849927,23,38996,2015-10-20 13:45:00,2015-10-20 14:00:00,2015-10-20 13:32:00,2015-10-20 13:48:00,TB_4,Machine,290364,6,2015-10-20 13:27:00,2015-10-20 13:48:00,1,2015-10-20 13:27:00,1
17,849927,23,38996,2015-10-20 13:45:00,2015-10-20 14:00:00,2015-10-20 13:32:00,2015-10-20 13:48:00,TB_4,Machine,290365,7,2015-10-20 13:27:00,2015-10-20 13:48:00,1,2015-10-20 13:27:00,1
18,849927,23,38996,2015-10-20 13:45:00,2015-10-20 14:00:00,2015-10-20 13:32:00,2015-10-20 13:48:00,TB_4,Machine,290366,8,2015-10-20 13:27:00,2015-10-20 13:48:00,1,2015-10-20 13:27:00,1
19,849927,23,38996,2015-10-20 13:45:00,2015-10-20 14:00:00,2015-10-20 13:32:00,2015-10-20 13:48:00,TB_4,Machine,290367,9,2015-10-20 13:27:00,2015-10-20 13:48:00,1,2015-10-20 13:27:00,1
20,849928,23,38996,2015-10-21 15:30:00,2015-10-21 15:45:00,2015-10-21 14:57:00,2015-10-21 15:07:00,TB_6,Machine,290368,0,2015-10-21 14:16:00,2015-10-21 14:16:00,1,2015-10-21 14:43:00,1
21,849928,23,38996,2015-10-21 15:30:00,2015-10-21 15:45:00,2015-10-21 14:57:00,2015-10-21 15:07:00,TB_6,Machine,290369,1,2015-10-21 14:43:00,2015-10-21 14:43:00,1,2015-10-21 14:43:00,1
22,849928,23,38996,2015-10-21 15:30:00,2015-10-21 15:45:00,2015-10-21 14:57:00,2015-10-21 15:07:00,TB_6,Machine,290370,2,2015-10-21 14:43:00,2015-10-21 14:57:00,1,2015-10-21 14:43:00,1
23,849928,23,38996,2015-10-21 15:30:00,2015-10-21 15:45:00,2015-10-21 14:57:00,2015-10-21 15:07:00,TB_6,Machine,290371,3,2015-10-21 14:43:00,2015-10-21 14:57:00,1,2015-10-21 14:43:00,1
24,849928,23,38996,2015-10-21 15:30:00,2015-10-21 15:45:00,2015-10-21 14:57:00,2015-10-21 15:07:00,TB_6,Machine,290372,4,2015-10-21 14:43:00,2015-10-21 15:07:00,1,2015-10-21 14:43:00,1
25,849928,23,38996,2015-10-21 15:30:00,2015-10-21 15:45:00,2015-10-21 14:57:00,2015-10-21 15:07:00,TB_6,Machine,290373,5,2015-10-21 14:43:00,2015-10-21 15:07:00,1,2015-10-21 14:43:00,1
26,849928,23,38996,2015-10-21 15:30:00,2015-10-21 15:45:00,2015-10-21 14:57:00,2015-10-21 15:07:00,TB_6,Machine,290374,6,2015-10-21 14:43:00,2015-10-21 15:07:00,1,2015-10-21 14:43:00,1
27,849928,23,38996,2015-10-21 15:30:00,2015-10-21 15:45:00,2015-10-21 14:57:00,2015-10-21 15:07:00,TB_6,Machine,290375,7,2015-10-21 14:43:00,2015-10-21 15:07:00,1,2015-10-21 14:43:00,1
28,849928,23,38996,2015-10-21 15:30:00,2015-10-21 15:45:00,2015-10-21 14:57:00,2015-10-21 15:07:00,TB_6,Machine,290376,8,2015-10-21 14:43:00,2015-10-21 15:07:00,1,2015-10-21 14:43:00,1
29,849928,23,38996,2015-10-21 15:30:00,2015-10-21 15:45:00,2015-10-21 14:57:00,2015-10-21 15:07:00,TB_6,Machine,290377,9,2015-10-21 14:43:00,2015-10-21 15:07:00,1,2015-10-21 14:43:00,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84,849934,23,38996,2015-10-29 12:00:00,2015-10-29 12:15:00,2015-10-29 12:17:00,2015-10-29 12:29:00,TB_6,Machine,290432,4,2015-10-29 12:15:00,2015-10-29 12:15:00,1,2015-10-29 12:15:00,1
85,849934,23,38996,2015-10-29 12:00:00,2015-10-29 12:15:00,2015-10-29 12:17:00,2015-10-29 12:29:00,TB_6,Machine,290433,5,2015-10-29 12:15:00,2015-10-29 12:17:00,1,2015-10-29 12:15:00,1
86,849934,23,38996,2015-10-29 12:00:00,2015-10-29 12:15:00,2015-10-29 12:17:00,2015-10-29 12:29:00,TB_6,Machine,290434,6,2015-10-29 12:15:00,2015-10-29 12:17:00,1,2015-10-29 12:15:00,1
87,849934,23,38996,2015-10-29 12:00:00,2015-10-29 12:15:00,2015-10-29 12:17:00,2015-10-29 12:29:00,TB_6,Machine,290435,7,2015-10-29 12:15:00,2015-10-29 12:29:00,1,2015-10-29 12:15:00,1
88,849934,23,38996,2015-10-29 12:00:00,2015-10-29 12:15:00,2015-10-29 12:17:00,2015-10-29 12:29:00,TB_6,Machine,290436,8,2015-10-29 12:15:00,2015-10-29 12:29:00,1,2015-10-29 12:15:00,1
89,849934,23,38996,2015-10-29 12:00:00,2015-10-29 12:15:00,2015-10-29 12:17:00,2015-10-29 12:29:00,TB_6,Machine,290437,9,2015-10-29 12:15:00,2015-10-29 12:29:00,1,2015-10-29 12:15:00,1
90,849934,23,38996,2015-10-29 12:00:00,2015-10-29 12:15:00,2015-10-29 12:17:00,2015-10-29 12:29:00,TB_6,Machine,290438,10,2015-10-29 12:15:00,2015-10-29 12:29:00,1,2015-10-29 12:15:00,1
91,849934,23,38996,2015-10-29 12:00:00,2015-10-29 12:15:00,2015-10-29 12:17:00,2015-10-29 12:29:00,TB_6,Machine,290439,11,2015-10-29 12:15:00,2015-10-29 12:29:00,1,2015-10-29 12:15:00,1
92,849934,23,38996,2015-10-29 12:00:00,2015-10-29 12:15:00,2015-10-29 12:17:00,2015-10-29 12:29:00,TB_6,Machine,290440,12,2015-10-29 12:15:00,2015-10-29 12:29:00,1,2015-10-29 12:15:00,1
93,849935,23,38996,2015-10-30 14:00:00,2015-10-30 14:15:00,2015-10-30 13:19:00,2015-10-30 13:35:00,TB_6,Machine,290441,0,2015-10-30 13:05:00,2015-10-30 13:05:00,1,2015-10-30 13:19:00,1
94,849935,23,38996,2015-10-30 14:00:00,2015-10-30 14:15:00,2015-10-30 13:19:00,2015-10-30 13:35:00,TB_6,Machine,290442,1,2015-10-30 13:19:00,2015-10-30 13:19:00,1,2015-10-30 13:19:00,1
95,849935,23,38996,2015-10-30 14:00:00,2015-10-30 14:15:00,2015-10-30 13:19:00,2015-10-30 13:35:00,TB_6,Machine,290443,2,2015-10-30 13:19:00,2015-10-30 13:19:00,1,2015-10-30 13:19:00,1
96,849935,23,38996,2015-10-30 14:00:00,2015-10-30 14:15:00,2015-10-30 13:19:00,2015-10-30 13:35:00,TB_6,Machine,290444,3,2015-10-30 13:19:00,2015-10-30 13:19:00,1,2015-10-30 13:19:00,1
97,849935,23,38996,2015-10-30 14:00:00,2015-10-30 14:15:00,2015-10-30 13:19:00,2015-10-30 13:35:00,TB_6,Machine,290445,4,2015-10-30 13:19:00,2015-10-30 13:35:00,1,2015-10-30 13:19:00,1
98,849935,23,38996,2015-10-30 14:00:00,2015-10-30 14:15:00,2015-10-30 13:19:00,2015-10-30 13:35:00,TB_6,Machine,290446,5,2015-10-30 13:19:00,2015-10-30 13:35:00,1,2015-10-30 13:19:00,1
99,849935,23,38996,2015-10-30 14:00:00,2015-10-30 14:15:00,2015-10-30 13:19:00,2015-10-30 13:35:00,TB_6,Machine,290447,6,2015-10-30 13:19:00,2015-10-30 13:35:00,1,2015-10-30 13:19:00,1
100,849935,23,38996,2015-10-30 14:00:00,2015-10-30 14:15:00,2015-10-30 13:19:00,2015-10-30 13:35:00,TB_6,Machine,290448,7,2015-10-30 13:19:00,2015-10-30 13:35:00,1,2015-10-30 13:19:00,1
101,849935,23,38996,2015-10-30 14:00:00,2015-10-30 14:15:00,2015-10-30 13:19:00,2015-10-30 13:35:00,TB_6,Machine,290449,8,2015-10-30 13:19:00,2015-10-30 13:35:00,1,2015-10-30 13:19:00,1
102,849935,23,38996,2015-10-30 14:00:00,2015-10-30 14:15:00,2015-10-30 13:19:00,2015-10-30 13:35:00,TB_6,Machine,290450,9,2015-10-30 13:19:00,2015-10-30 13:35:00,1,2015-10-30 13:19:00,1
103,849936,23,38996,2015-11-02 13:30:00,2015-11-02 13:45:00,2015-11-02 13:43:00,2015-11-02 13:53:00,TB_6,Machine,290451,0,2015-11-02 12:09:00,2015-11-02 12:09:00,1,2015-11-02 13:23:00,1
104,849936,23,38996,2015-11-02 13:30:00,2015-11-02 13:45:00,2015-11-02 13:43:00,2015-11-02 13:53:00,TB_6,Machine,290452,1,2015-11-02 13:23:00,2015-11-02 13:23:00,1,2015-11-02 13:23:00,1
105,849936,23,38996,2015-11-02 13:30:00,2015-11-02 13:45:00,2015-11-02 13:43:00,2015-11-02 13:53:00,TB_6,Machine,290453,2,2015-11-02 13:23:00,2015-11-02 13:43:00,1,2015-11-02 13:23:00,1
106,849936,23,38996,2015-11-02 13:30:00,2015-11-02 13:45:00,2015-11-02 13:43:00,2015-11-02 13:53:00,TB_6,Machine,290454,3,2015-11-02 13:23:00,2015-11-02 13:43:00,1,2015-11-02 13:23:00,1
107,849936,23,38996,2015-11-02 13:30:00,2015-11-02 13:45:00,2015-11-02 13:43:00,2015-11-02 13:53:00,TB_6,Machine,290455,4,2015-11-02 13:23:00,2015-11-02 13:53:00,1,2015-11-02 13:23:00,1
108,849936,23,38996,2015-11-02 13:30:00,2015-11-02 13:45:00,2015-11-02 13:43:00,2015-11-02 13:53:00,TB_6,Machine,290456,5,2015-11-02 13:23:00,2015-11-02 13:53:00,1,2015-11-02 13:23:00,1
109,849936,23,38996,2015-11-02 13:30:00,2015-11-02 13:45:00,2015-11-02 13:43:00,2015-11-02 13:53:00,TB_6,Machine,290457,6,2015-11-02 13:23:00,2015-11-02 13:53:00,1,2015-11-02 13:23:00,1
110,849936,23,38996,2015-11-02 13:30:00,2015-11-02 13:45:00,2015-11-02 13:43:00,2015-11-02 13:53:00,TB_6,Machine,290458,7,2015-11-02 13:23:00,2015-11-02 13:53:00,1,2015-11-02 13:23:00,1
111,849936,23,38996,2015-11-02 13:30:00,2015-11-02 13:45:00,2015-11-02 13:43:00,2015-11-02 13:53:00,TB_6,Machine,290459,8,2015-11-02 13:23:00,2015-11-02 13:53:00,1,2015-11-02 13:23:00,1
112,849936,23,38996,2015-11-02 13:30:00,2015-11-02 13:45:00,2015-11-02 13:43:00,2015-11-02 13:53:00,TB_6,Machine,290460,9,2015-11-02 13:23:00,2015-11-02 13:53:00,1,2015-11-02 13:23:00,1
113,849936,23,38996,2015-11-02 13:30:00,2015-11-02 13:45:00,2015-11-02 13:43:00,2015-11-02 13:53:00,TB_6,Machine,290461,10,2015-11-02 13:23:00,2015-11-02 13:53:00,1,2015-11-02 13:23:00,1