In [1]:
import pymysql
import pandas as pd
import numpy as np

In [2]:
def get_df_from_sql(sql):
    # Connect to the MySQL database
    db = pymysql.connect(host='localhost',
                         port=3306,
                         user='root',
                         passwd='root',
                         db='originaldata')
    df = pd.read_sql(sql = sql, con = db)
    return df

In [7]:
sql_alias = """SELECT * FROM alias"""
sql_PL = """SELECT * FROM Patientlocation"""
sql_PLMH = """SELECT * FROM Patientlocationmh"""
sql_appointment = """
    SELECT * FROM Appointment ap
    WHERE
        ap.ActualStartDate NOT IN ('0000-00-00 00:00:00','1970-01-01 00:00:00')
    AND ap.ActualEndDate NOT IN ('0000-00-00 00:00:00','1970-01-01 00:00:00')
    AND ap.ScheduledStartTime NOT IN ('0000-00-00 00:00:00','1970-01-01 00:00:00')
    AND ap.ScheduledEndTime NOT IN ('0000-00-00 00:00:00','1970-01-01 00:00:00')
    AND ap.ActualEndDate NOT IN ('0000-00-00 00:00:00','1970-01-01 00:00:00')"""

data_alias = get_df_from_sql(sql_alias)
data_PL = get_df_from_sql(sql_PL)
data_PLMH = get_df_from_sql(sql_PLMH)
data_appointment = get_df_from_sql(sql_appointment)

C:\Users\WENDY\Anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1292, "Incorrect datetime value: '0000-00-00 00:00:00' for column 'ActualStartDate' at row 1")
  result = self._query(query)
C:\Users\WENDY\Anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1292, "Incorrect datetime value: '0000-00-00 00:00:00' for column 'ActualEndDate' at row 1")
  result = self._query(query)
C:\Users\WENDY\Anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1292, "Incorrect datetime value: '0000-00-00 00:00:00' for column 'ScheduledStartTime' at row 1")
  result = self._query(query)
C:\Users\WENDY\Anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1292, "Incorrect datetime value: '0000-00-00 00:00:00' for column 'ScheduledEndTime' at row 1")
  result = self._query(query)

In [22]:
data_appointment

,AppointmentSerNum,PatientSerNum,AppointmentAriaSer,ActivityInstanceAriaSer,DiagnosisSerNum,PrioritySerNum,AliasSerNum,AliasExpressionSerNum,Status,State,ScheduledStartTime,ScheduledEndTime,ActualStartDate,ActualEndDate,EstimatedDuration,HstryUserName,LastUpdated
0,506053,6428,303702,307713,0,0,2,17,Completed,Active,2004-12-30 09:00:00,2004-12-30 09:30:00,2004-12-30 10:14:00,2004-12-30 10:15:00,0.0,albrown,2016-05-12 05:57:44
1,567562,18,659351,661468,19524,0,31,1590,Completed,Active,2008-05-09 10:15:00,2008-05-09 10:30:00,2008-05-09 09:20:00,2008-05-09 09:53:00,0.0,thijal,2016-05-20 04:34:26
2,567563,25,717769,735121,0,0,31,1586,Completed,Active,2008-10-27 15:30:00,2008-10-27 15:45:00,2008-10-27 15:36:00,2008-10-27 15:54:00,0.0,thijal,2016-05-20 04:34:26
3,567564,25,717770,735122,0,0,23,1522,Completed,Active,2008-10-28 15:30:00,2008-10-28 15:45:00,2008-10-28 17:12:00,2008-10-28 17:36:00,0.0,thijal,2016-05-20 04:30:04
4,567565,25,717771,735123,0,0,23,1522,Completed,Active,2008-10-29 15:30:00,2008-10-29 15:45:00,2008-10-29 15:50:00,2008-10-29 16:07:00,0.0,uawan,2016-05-12 07:01:15
5,567566,25,717772,735124,0,0,23,1522,Completed,Active,2008-10-30 15:30:00,2008-10-30 15:45:00,2008-10-30 16:42:00,2008-10-30 16:54:00,0.0,uawan,2016-05-12 07:01:15
6,567567,25,717773,735125,0,0,23,1524,Completed,Active,2008-10-31 15:30:00,2008-10-31 15:45:00,2008-10-31 15:38:00,2008-10-31 15:51:00,0.0,uawan,2016-05-12 07:01:15
7,567568,25,891971,987604,0,0,31,1590,Completed,Active,2010-04-12 15:30:00,2010-04-12 15:45:00,2010-04-12 14:54:00,2010-04-12 15:13:00,0.0,alazicic,2016-05-20 03:58:04
8,567569,67,885323,977592,12034,0,23,1522,Completed,Active,2010-04-09 09:15:00,2010-04-09 09:30:00,2010-04-09 09:15:00,2010-04-09 09:28:00,0.0,dmart,2016-05-20 03:52:54
9,567570,67,885324,977593,12034,0,23,1522,Completed,Active,2010-04-12 09:15:00,2010-04-12 09:30:00,2010-04-12 08:57:00,2010-04-12 09:09:00,0.0,sbrousse,2016-05-20 03:52:54
10,567571,67,885325,977594,12034,0,23,1522,Completed,Active,2010-04-13 09:15:00,2010-04-13 09:30:00,2010-04-13 09:40:00,2010-04-13 09:56:00,0.0,dfortier,2016-05-20 03:52:54
11,567572,67,885326,977595,12034,0,23,1522,Completed,Active,2010-04-14 09:15:00,2010-04-14 09:30:00,2010-04-14 09:06:00,2010-04-14 09:46:00,0.0,dmart,2016-05-20 03:52:54
12,567573,67,885327,977596,12034,0,23,1522,Completed,Active,2010-04-15 09:00:00,2010-04-15 09:15:00,2010-04-15 10:07:00,2010-04-15 10:19:00,0.0,dmart,2016-05-20 03:52:54
13,567574,67,885328,977597,12034,0,23,1522,Completed,Active,2010-04-16 09:15:00,2010-04-16 09:30:00,2010-04-16 09:16:00,2010-04-16 09:32:00,0.0,dmart,2016-05-20 03:52:54
14,567575,67,885329,977598,12034,0,23,1522,Completed,Active,2010-04-19 09:15:00,2010-04-19 09:30:00,2010-04-19 09:10:00,2010-04-19 09:24:00,0.0,dmart,2016-05-20 03:52:54
15,567576,67,885330,977599,12034,0,23,1522,Completed,Active,2010-04-20 09:30:00,2010-04-20 09:45:00,2010-04-20 09:27:00,2010-04-20 09:42:00,0.0,dmart,2016-05-20 03:52:54
16,567577,67,885332,977601,12034,0,23,1524,Completed,Active,2010-04-21 09:15:00,2010-04-21 09:30:00,2010-04-21 09:10:00,2010-04-21 09:24:00,0.0,dmart,2016-05-20 03:52:54
17,567578,67,890726,985602,12034,0,31,1586,Completed,Active,2010-04-08 10:15:00,2010-04-08 10:30:00,2010-04-08 09:29:00,2010-04-08 10:24:00,0.0,dmart,2016-05-20 03:58:04
18,567580,111,893475,989693,0,0,31,1579,Completed,Active,2010-05-10 17:00:00,2010-05-10 17:15:00,2010-05-10 12:57:00,2010-05-10 13:12:00,0.0,jfanizzi,2016-05-20 03:58:04
19,567581,111,893476,989694,0,0,23,1505,Completed,Active,2010-05-11 11:00:00,2010-05-11 11:15:00,2010-05-11 10:58:00,2010-05-11 11:13:00,0.0,jfanizzi,2016-05-20 03:52:54
20,567582,111,893477,989695,0,0,23,1505,Completed,Active,2010-05-12 11:00:00,2010-05-12 11:15:00,2010-05-12 10:52:00,2010-05-12 11:05:00,0.0,jfanizzi,2016-05-20 03:52:54
21,567583,111,893478,989696,0,0,23,1505,Completed,Active,2010-05-13 11:00:00,2010-05-13 11:15:00,2010-05-13 10:58:00,2010-05-13 11:15:00,0.0,chudon,2016-05-20 03:52:54
22,567584,111,893479,989697,0,0,23,1505,Completed,Active,2010-05-14 11:00:00,2010-05-14 11:15:00,2010-05-14 11:10:00,2010-05-14 11:34:00,0.0,jfanizzi,2016-05-20 03:52:54
23,567585,111,893480,989698,0,0,23,1505,Completed,Active,2010-05-17 11:00:00,2010-05-17 11:15:00,2010-05-17 14:59:00,2010-05-17 15:15:00,0.0,chudon,2016-05-20 03:52:54
24,567586,111,893481,989699,0,0,23,1505,Completed,Active,2010-05-18 11:00:00,2010-05-18 11:15:00,2010-05-18 11:27:00,2010-05-18 11:52:00,0.0,acaron,2016-05-20 03:52:54
25,567587,111,893482,989700,0,0,23,1505,Completed,Active,2010-05-19 11:00:00,2010-05-19 11:15:00,2010-05-19 11:09:00,2010-05-19 11:22:00,0.0,jfanizzi,2016-05-20 03:52:54
26,567588,111,893483,989701,0,0,23,1505,Completed,Active,2010-05-20 11:00:00,2010-05-20 11:15:00,2010-05-20 10:56:00,2010-05-20 11:09:00,0.0,jfanizzi,2016-05-20 03:52:54
27,567589,111,893484,989702,0,0,23,1505,Completed,Active,2010-05-21 11:00:00,2010-05-21 11:15:00,2010-05-21 11:02:00,2010-05-21 11:14:00,0.0,sbrousse,2016-05-20 03:52:54
28,567590,111,893485,989703,0,0,23,1505,Completed,Active,2010-05-25 11:00:00,2010-05-25 11:15:00,2010-05-25 12:47:00,2010-05-25 13:07:00,0.0,tcorcora,2016-05-20 03:52:54
29,567591,111,893486,989704,0,0,23,1505,Completed,Active,2010-05-26 11:00:00,2010-05-26 11:15:00,2010-05-26 11:37:00,2010-05-26 11:55:00,0.0,kbaquira,2016-05-20 03:52:54
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
370268,1586797,70055,2143894,2981220,36555,24389,31,1590,Completed,Active,2019-07-31 15:30:00,2019-07-31 15:45:00,2019-07-31 15:02:00,2019-07-31 15:33:00,0.0,rislam,2019-08-01 08:02:07
370269,1586800,71981,2142951,2979500,39120,24373,31,1579,Completed,Active,2019-08-01 14:15:00,2019-08-01 14:30:00,2019-08-01 13:40:00,2019-08-01 14:07:00,0.0,vcaissie,2019-08-02 08:02:06
370270,1586801,72101,2137666,2969781,39230,24245,31,1579,Completed,Active,2019-07-31 17:45:00,2019-07-31 18:00:00,2019-07-31 17:31:00,2019-07-31 17:48:00,0.0,jbattista,2019-08-01 08:02:07
370271,1586803,72150,2143610,2980733,39338,24312,31,1579,Completed,Active,2019-07-31 11:30:00,2019-07-31 11:45:00,2019-07-31 10:44:00,2019-07-31 11:19:00,0.0,eliu,2019-08-01 08:02:07
370272,1586804,72245,2143731,2980927,0,24401,31,1590,Completed,Active,2019-08-01 13:00:00,2019-08-01 13:15:00,2019-08-01 12:50:00,2019-08-01 13:18:00,0.0,sillick,2019-08-02 08:02:06
370273,1586806,72269,2143927,2981332,0,0,31,2009,Completed,Active,2019-07-31 17:15:00,2019-07-31 17:30:00,2019-07-31 18:34:00,2019-07-31 18:48:00,0.0,rclark,2019-08-01 08:02:07
370274,1586908,65330,2144360,2982140,29789,24295,23,1505,Completed,Active,2019-08-02 11:00:00,2019-08-02 11:15:00,2019-08-02 11:16:00,2019-08-02 11:41:00,0.0,snelson,2019-08-03 08:01:55
370275,1586912,71514,2137192,2968821,38530,23679,23,1505,Completed,Active,2019-08-06 10:15:00,2019-08-06 10:30:00,2019-08-06 10:45:00,2019-08-06 11:03:00,0.0,amahbub,2019-08-07 08:02:57
370276,1587038,72155,2139690,2973439,39315,24315,23,1505,Completed,Active,2019-08-02 09:45:00,2019-08-02 10:00:00,2019-08-02 09:49:00,2019-08-02 09:55:00,0.0,sillick,2019-08-03 08:01:56
370277,1587039,72155,2139691,2973440,39315,24315,23,1505,Completed,Active,2019-08-06 09:45:00,2019-08-06 10:00:00,2019-08-06 09:23:00,2019-08-06 09:33:00,0.0,jbattista,2019-08-07 08:02:58
370278,1587073,32257,2143932,2981368,18056,24271,31,1590,Completed,Active,2019-08-06 13:30:00,2019-08-06 13:45:00,2019-08-06 14:20:00,2019-08-06 14:51:00,0.0,mpeuckert,2019-08-07 08:02:58
370279,1587074,39136,2143941,2981387,39274,24282,31,1579,Completed,Active,2019-08-06 10:15:00,2019-08-06 10:30:00,2019-08-06 10:44:00,2019-08-06 10:57:00,0.0,sillick,2019-08-07 08:02:58
370280,1587076,71514,2144297,2981958,38530,23679,31,1579,Completed,Active,2019-08-01 14:15:00,2019-08-01 14:30:00,2019-08-01 14:44:00,2019-08-01 14:59:00,0.0,jlieu,2019-08-02 08:02:06
370281,1587081,71930,2143955,2981418,39106,24231,31,1579,Completed,Active,2019-08-06 13:45:00,2019-08-06 14:15:00,2019-08-06 13:55:00,2019-08-06 15:12:00,0.0,eli,2019-08-07 08:02:58
370282,1587083,72051,2143949,2981407,39214,24241,31,1590,Completed,Active,2019-08-01 15:15:00,2019-08-01 15:30:00,2019-08-01 12:36:00,2019-08-01 12:55:00,0.0,rislam,2019-08-02 08:02:06
370283,1587085,72155,2144169,2981752,39315,24315,31,1579,Completed,Active,2019-08-01 13:00:00,2019-08-01 13:15:00,2019-08-01 13:21:00,2019-08-01 13:50:00,0.0,abelli,2019-08-02 08:02:06
370284,1587333,25479,2144480,2982467,35107,24425,31,1586,Completed,Active,2019-08-02 14:45:00,2019-08-02 15:00:00,2019-08-02 14:16:00,2019-08-02 14:48:00,0.0,eli,2019-08-03 08:01:56
370285,1587334,69828,2144570,2982638,36289,24415,31,1590,Completed,Active,2019-08-02 15:15:00,2019-08-02 15:30:00,2019-08-02 14:26:00,2019-08-02 15:08:00,0.0,midris,2019-08-03 08:01:56
370286,1587337,71395,2144519,2982526,38304,24264,31,1579,Completed,Active,2019-08-06 16:15:00,2019-08-06 16:30:00,2019-08-06 14:34:00,2019-08-06 14:56:00,0.0,abelli,2019-08-07 08:02:58
370287,1587338,71512,2144381,2982218,38560,23693,31,1579,Completed,Active,2019-08-06 14:45:00,2019-08-06 15:00:00,2019-08-06 15:13:00,2019-08-06 15:50:00,0.0,eli,2019-08-07 08:02:58
370288,1587339,71658,2144559,2982613,38856,23953,31,1579,Completed,Active,2019-08-06 13:45:00,2019-08-06 14:00:00,2019-08-06 13:45:00,2019-08-06 14:04:00,0.0,sillick,2019-08-07 08:02:58
370289,1587340,72044,2144584,2982689,39192,24424,31,1590,Completed,Active,2019-08-02 16:30:00,2019-08-02 16:45:00,2019-08-02 15:15:00,2019-08-02 15:41:00,0.0,kcrawley,2019-08-03 08:01:56
370290,1587341,72112,2144481,2982482,39318,24333,31,1579,Completed,Active,2019-08-06 17:30:00,2019-08-06 17:45:00,2019-08-06 13:10:00,2019-08-06 13:37:00,0.0,svachon,2019-08-07 08:02:58
370291,1587342,72149,2144563,2982623,39335,24316,31,1579,Completed,Active,2019-08-06 15:15:00,2019-08-06 15:30:00,2019-08-06 15:09:00,2019-08-06 15:30:00,0.0,jbattista,2019-08-07 08:02:58
370292,1587344,72246,2144605,2982740,39456,24410,31,1586,Completed,Active,2019-08-06 16:30:00,2019-08-06 16:45:00,2019-08-06 17:01:00,2019-08-06 17:17:00,0.0,kcrawley,2019-08-07 08:02:58
370293,1587345,72308,2144650,2982833,39459,24446,31,1590,Completed,Active,2019-08-02 16:45:00,2019-08-02 17:00:00,2019-08-02 17:07:00,2019-08-02 17:27:00,0.0,ltasillo,2019-08-03 08:01:56
370294,1587558,66741,2145061,2983631,31723,24450,31,1590,Completed,Active,2019-08-06 17:30:00,2019-08-06 17:45:00,2019-08-06 17:46:00,2019-08-06 18:10:00,0.0,sillick,2019-08-07 08:02:58
370295,1587571,72076,2144688,2982933,39253,24361,31,1579,Completed,Active,2019-08-06 11:30:00,2019-08-06 11:45:00,2019-08-06 11:21:00,2019-08-06 12:07:00,0.0,amahbub,2019-08-07 08:02:58
370296,1587574,72236,2144681,2982919,39447,24439,31,1590,Completed,Active,2019-08-06 11:30:00,2019-08-06 11:45:00,2019-08-06 11:33:00,2019-08-06 11:59:00,0.0,vmarsillo,2019-08-07 08:02:58
370297,1587577,72300,2144985,2983416,39457,24435,31,1590,Completed,Active,2019-08-06 15:30:00,2019-08-06 15:45:00,2019-08-06 15:48:00,2019-08-06 16:23:00,0.0,adicorpo,2019-08-07 08:02:58

In [43]:
data_appointment_grouped = data_appointment.groupby('PatientSerNum')
data_appointment_grouped.get_group(25)

,AppointmentSerNum,PatientSerNum,AppointmentAriaSer,ActivityInstanceAriaSer,DiagnosisSerNum,PrioritySerNum,AliasSerNum,AliasExpressionSerNum,Status,State,ScheduledStartTime,ScheduledEndTime,ActualStartDate,ActualEndDate,EstimatedDuration,HstryUserName,LastUpdated
2,567563,25,717769,735121,0,0,31,1586,Completed,Active,2008-10-27 15:30:00,2008-10-27 15:45:00,2008-10-27 15:36:00,2008-10-27 15:54:00,0.0,thijal,2016-05-20 04:34:26
3,567564,25,717770,735122,0,0,23,1522,Completed,Active,2008-10-28 15:30:00,2008-10-28 15:45:00,2008-10-28 17:12:00,2008-10-28 17:36:00,0.0,thijal,2016-05-20 04:30:04
4,567565,25,717771,735123,0,0,23,1522,Completed,Active,2008-10-29 15:30:00,2008-10-29 15:45:00,2008-10-29 15:50:00,2008-10-29 16:07:00,0.0,uawan,2016-05-12 07:01:15
5,567566,25,717772,735124,0,0,23,1522,Completed,Active,2008-10-30 15:30:00,2008-10-30 15:45:00,2008-10-30 16:42:00,2008-10-30 16:54:00,0.0,uawan,2016-05-12 07:01:15
6,567567,25,717773,735125,0,0,23,1524,Completed,Active,2008-10-31 15:30:00,2008-10-31 15:45:00,2008-10-31 15:38:00,2008-10-31 15:51:00,0.0,uawan,2016-05-12 07:01:15
7,567568,25,891971,987604,0,0,31,1590,Completed,Active,2010-04-12 15:30:00,2010-04-12 15:45:00,2010-04-12 14:54:00,2010-04-12 15:13:00,0.0,alazicic,2016-05-20 03:58:04

In [20]:
appointment_alias = pd.DataFrame({'AliasSerNum': list(data_appointment.AliasSerNum.value_counts().index),
                                  'appointment_count': data_appointment.AliasSerNum.value_counts().tolist()})
appointment_alias = pd.merge(appointment_alias, data_alias[['AliasSerNum', 'AliasName', 'AliasType']],
                             on = 'AliasSerNum', how = 'inner')
appointment_alias

   AliasSerNum  appointment_count                    AliasName    AliasType
0           23             337235        Treatment Appointment  Appointment
1           31              30825              First Treatment  Appointment
2           48               2224  Machine Warmup Morning Appt  Appointment
3            3                  9                       Ct-Sim  Appointment
4           41                  2  Intra-Treatment Appointment  Appointment
5           40                  2       Follow-up Appointments  Appointment
6            2                  1          Consult Appointment  Appointment

##### 上面是Appointment 表中，AppointmentSerNum 的Alias 类型
##### 和Patientlocation 表中，PatientLocationSerNum（只对应一个AppointmentSerNum） 的Alias 类型相同，但是数量不同

In [30]:
data_appointment_grouped = data_appointment.groupby('PatientSerNum')
data_appointment_grouped.get_group(111).AliasSerNum.unique()

2

In [33]:
data_appointment_grouped = data_appointment.groupby('PatientSerNum')
patient_alias_list = []
for patient in list(data_appointment_grouped.groups.keys()):
    patient_df = data_appointment_grouped.get_group(patient)
    patient_alias_list.append(len(patient_df.AliasSerNum.unique()))

In [38]:
patient_alias_set = set(patient_alias_list)
for i in patient_alias_set:
    print(i, patient_alias_list.count(i))

1 3757
2 17608
3 254

##### 对于patient 而言，一个patient 所具有的多个appointment 中，Alias 的分布如上

In [39]:
def count_Alias(df):
    Alias_set = set(df['AliasSerNum'].tolist())
    len_Alias = len(Alias_set)
    return len_Alias, Alias_set

In [ ]:
PAT_Alias_num = []
PAT_Alias = []
for patient in list(data_appointment_grouped.groups.keys()):
    patient_df = data_appointment_grouped.get_group(patient)
    len_Alias, Alias_set = count_Alias(patient_df)
    patient_alias_list.append(len(patient_df.AliasSerNum.unique()))

In [40]:
PAT_Alias_df = pd.DataFrame({'first': [],
                             'second': [],
                             'third': []})
PAT_Alias_df

Empty DataFrame
Columns: [first, second, third]
Index: []